.header {
    font-size: 36px;
    display: flex;
    align-items: center;
    margin: 30px 0 0;

    @media(min-width:960px) {
        font-size: 40px;
    }
}

h2 {
    color: var(--color-black);
    text-transform: capitalize;
    font-weight: normal;
    position: relative;
    z-index: 10;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    justify-self: center;
    font-size: inherit;


    &::after {
        content: '';
        background-color: var(--color-blue-light);
        width: 60%;
        height: 6px;
        position: absolute;
        right: -10%;
        bottom: 15%;
        z-index: -1;
    }

    &.white {
        color: var(--color-white);

        &::after {
            background-color: var(--color-white);
            opacity: 0.7;
        }
    }

}

.icon {
    font-size: 0.7em;
    margin-right: 10px;
    color: var(--color-blue-light);
}